/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
  /* Add fonts from the app's server 
    @font-face {                
      font-family: 'FontName';
      src: url('FontName.woff2') format('woff2');
    } 
    ...or hosted services like Google Fonts 
    @import url(//fonts.googleapis.com/css?family=Font+Name);
  */
  
  /* @import 'node_modules/modern-normalize/modern-normalize.css'; */
        /* npm install modern-normalize
          Resets elements for browser consistency.  
          https://www.npmjs.com/package/modern-normalize
        */         
  
  /* Component-specific stylesheets, if any. 
    @import "component1.css";   
  */

/*   ----- Variables  -----  */
:root {
}

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {       /* Can alternatively define in html {} or :root {} background-image:;*/
  background-color:beige;
  font-family: 'Times New Roman', Times, serif; /* Define with at least one font name and its related generic family name.*/

  margin:auto;
  padding: 0 200px;
  min-width: 350px;
  max-width: 75%;
}

/*  ----- Page layout blocks -----  */
header {
  display: flex;
  justify-content: space-between;

}
main {
  position: absolute;
  top: 500px;
}

div {}
aside {}
footer {
  position: absolute;
  bottom: -1000px;
  left: 550px;
  z-index: 2;
}
footer p{
  width: 200px;
}

/* ----- Anchors ----- Text links */
a {}
a:link {}
link:hover {
  color: purple;
}
a:active {}
link:visited {
  color: purple;
}

/*  -----  Typography  ----- */
p {
  width: 750px;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
  z-index: 2;
  position: absolute;
  left: -275px;
}
br {}
ol, ul, dl {}
li {}
dt {}
dd {}

h1, h2, h3, h4, h5, h6 {} 
h1 {
}
h2 {
}
h3 {
  
}
h4 {
  
}
h5 {}
h6 {}

abbr {}
acronym {}
address {}
blockquote {}
  q {}
  cite {}
em {}
hr {}
mark {}
s {}
span {}
strong {}
sub {}
sup {}
time {}

label {
  padding: 0px;
  margin: 5px;
}
/*  ----- Coding or instructional typography ----- */
pre {}
code {}
kbd {}
samp {}
var {}
del {} 
ins {}

section h2{
  text-align: center;
  width: 150px;
}

.App-header {
  position: fixed;
  top: -25px;
  left: 375px;
  font-size: 20px;
  z-index: 4;
}
.App-article{
  background-color: orange;
  position: fixed;
  font-size: 20px;
  top:0px;
  right: 0px;
  z-index: 3;
  width: 2500px;
  height: 50px;

}

.App-article a{
  cursor: pointer;
  margin: 10px;
  color: black;
  position: relative;
  right: -1700px;
  top: 15px;
}

.App-article a:hover{
  cursor: pointer;
  color: rgb(175, 14, 239);
}

.App-article a:visited{
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.about-me{
  height: 100vh;
  position: absolute;
  top: 250px;
  left: 400px;
  z-index: 2;
}
.about-me h2{
  display: grid;
  width: 150px;
  background-color: beige;
}
.about-me .about-me-text{
  width: 700px;
  background-color: beige;
}


.projects{
  position: absolute;
  top: 700px;
  left: 626.5px;
  z-index: 2;
}

.projects .poke-display{
  position: relative;
  font-size: 20px;
  top:  50px;
  left: -500px;
}

.projects .poke-display p{
  width: 400px;
  position: absolute;
  left: -175px;
}

.projects .project2{
  position: relative;
  font-size: 20px;
  top:  30px;
  left: 40px;
}
.projects .project2 p{
  position: absolute;
  left: -175px;
}

.projects .project3{
  position: relative;
  font-size: 20px;
  top:  10px;
  left: 500px;
}

.projects .project3 p{
  position: absolute;
  left: -175px;
}

.social-media{
  position: absolute;
  top: 1000px;
  left: 626.5px;
  z-index: 2;
}
.social-media h2{
  width: 150px;
}

.social-media a{
  color: rgb(0, 255, 162);
  font-size: 20px;
  position: absolute;
  left: 36.655px;
}
.social-media a:hover{
  color: rgb(175, 14, 239);
  font-size: 20px;
  position: absolute;
  left: 36.655px;
}
.contact-info{
  position: absolute;
  top: 1100px;
  left: 626.5px;
  z-index: 2;
}

.contact-info table{
  position: relative;
  left: -111.5px;
}
/*  ----- Table ----- */
table, tr, th, thead, td{
  border-collapse: collapse;
  text-align: left;
  background-color: white;
  color: black;
  border: 7px solid black; /* Add this line to specify the border color */
  width: 400px;
}

tr:hover {
  background-color: var(--oregonOrange);
  /* font-size: 30px; */

}

td:hover {
  /* padding-top: 30px;
  padding-bottom: 30px; */
}

  tr:nth-child(even) {}
  td:nth-child(1) {}
colgroup {}
data {}
datalist {}


/*  ----- Form ----- */
form {}
fieldset {
}
  legend {}
label {}
  button {}
  input {margin-left: 5px;}
  output {}
  meter {}
  progress {}
  select {}
    optgroup {}
    option {}
  textarea {}

/* ----- Media ----- */
figure {}
  figcaption {}
  figure img {}
svg {}
picture {}
  source {}
iframe {}
video {}
audio {}
embed {}
object {}

#personal-photo{
  position: absolute;
  top: 100px;
  left: 385px;
  height: 400px;
  width: 400px;
  display: flex;
  border: red;
  z-index: 2;
}
#background-photo {
  position: absolute;
  top: 700px;
  right: 410px;
  height: 400px;
  width: 400px;
  display: flex;
  border: red;
  opacity:1;
  z-index: 1;
}
.Resume{
  position: absolute;
  top: 150px;
  right: 900px;
  align-content: center;
  height: 734px;
  width: 563px;
  display: flex;
  border: red;
  opacity:1;
  border-color: black;
}

/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
.gallery {}

.floatright {}
.floatleft {}
.center-middle {}

.ten {}
.twenty {}
.thirty {}
.forty {}
.fifty {}
.sixty {}
.seventy {}
.eighty {}

.radius {}
.circle {}
.boxshadow {}
.tshadow {} 
.gradient {}
.shape {}

@keyframes App-logo {}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {}
